@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

html,
body {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
